<%# encoding: utf-8 %>
<% assets ||= @assets %>
<div id="<%= asset_id(model) %>" class="multiple assets">
    <%= render :partial => "acts_as_assets/assets/upload_link", :locals => {:multiple => true, :model => model} unless read_only %>
    <%= render :partial => "acts_as_assets/assets/assets", :locals => {:assets => Array(assets), :model => model, read_only: read_only} %>
</div>