<%# encoding: utf-8 %>
<% assets ||= @assets %>
<div id="<%=asset_id%>">
    <%= render :partial => "acts_as_assets/assets/upload_link", :locals => {:multiple => true, :model => model} %>
    <%= render :partial => "acts_as_assets/assets/assets", :locals => {:assets => Array(assets), :model => model} %>
</div>