<%# encoding: utf-8 %>
<% assets ||= @assets %>
<div id="<%= asset_id(model) %>" class="assets">
    <% if Array(assets).empty? %>
        <% unless read_only %>
            <%= render :partial => "acts_as_assets/assets/upload_link", :locals => {:multiple => false, :model => model} %>
        <% else %>
            <span class=" content-value nil">non disponibile</span>
        <% end %>
    <% else %>
        <%= render :partial => "acts_as_assets/assets/assets", :locals => {:assets => Array(assets), :model => model, read_only: read_only} %>
    <% end %>
</div>
